.red{
    background-color: red;
    height: 90px;
}
.blue{
    background-color:blue;
    height:90px;
    margin-top:10px;
    margin-bottom: 10px;

    
}
.green{
    background-color:green;
    height:90px;
       
}